{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>

    <title>Change your Password</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css'%}">
    <script src="{% static 'js/home.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css'%}">
</head>

<style>
    form {
        height: 580px;


        .cssanimation, .cssanimation span {
      animation-duration: 0.8s;
      animation-fill-mode: both;
    }

    .cssanimation span { display: inline-block }

    .fadeInBottom { animation-name: fadeInBottom }
    @keyframes fadeInBottom {
      from {
          opacity: 0;
          transform: translateY(100%);
      }
      to { opacity: 1 }
    }
    }
</style>

<body>

    <div class="topnav" id="myTopnav">
        <ul>
            <div id="name">
                <h1>Car Pooling System</h1>
            </div>
        </ul>
        <ul id="rest">
            {% if user.is_authenticated %}
            <ul><a href="{% url 'home' %}" class="active">Home</a></ul>
            <ul><a href="{% url 'searchmycar' %}">Book Your Car</a></ul>
            <ul><a href="{% url 'dashboard' %}">Dashboard</a></ul>
            <ul><a href="{% url 'allcars' %}">Cars</a></ul>
            <ul><a href="{% url 'mycar_list' %}">My Cars</a></ul>
            <ul><a href="{% url 'logout' %}">Logout</a></ul>
            {% endif %}

        </ul>
    </div>

    <div class="cssanimation sequence fadeInBottom">

        <div>
            {% if messages %}
            {% for message in messages %}
    
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <center>{{ message }}</center>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    
        <div>
            <form method="post" action="#">
                {% csrf_token %}
                <h3>Change Password
                </h3>
    
                <label for="old_password">Old Password</label>
                <input type="password" placeholder="Old Password" id="password" name="old_password">
    
                <label for="new_password">New Password</label>
                <input type="password" placeholder="New Password" id="password" name="new_password">
    
                <label for="confirm_password">Confirm Password</label>
                <input type="password" placeholder="Re-Enter Password" id="password" name="confirm_password">
    
                <button>CHANGE PASSWORD</button></br></br>
            </form></br>
    
    
        </div>


    </div>

    

    <div class="footer">
        <div class="section1">
            <h3>Contact us</h3>
            <i class="fa fa-home">Address No: XXXXXXX Street</i></br>
            <i class="fa fa-phone">Mobile: 1234567890</i></br>
            <i class="fa fa-envelope">Email: abc@gmail.com</i></br>
        </div>
        <!--<div class="section1">
            <h3>Modules</h3>
            <a href="#e">Booking Module</a></br>
            <a href="#e">User Module</a></br>
            <a href="#e">Car Search Module</a></br>
            <a href="#e">Login Module</a></br>
            <a href="#e">Car Management Module</a></br>
        </div>-->

        <div class="section1">
            <h3>Project Links</h3>
            <a href="{% url 'home' %}">Home</a></br>
            <a href="{% url 'contact' %}">Contact</a></br>
            <a href="{% url 'allcars' %}">Cars</a></br>
            <a href="{% url 'searchmycar' %}">Book</a></br>
        </div>

    </div>
</body>

</html>
{% endblock %}